.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #fcfcfc;
  margin: 12px 0;
}

.name {
  font-size: 16px;
  font-weight: 600;
}

.brief-info {
  margin-right: 12px;

  .number {
    color: #fff;
    font-weight: bolde;
  }
}
