@import "~antd/dist/antd.dark.less";

body {
  background-color: rgb(21, 32, 43);
}

#root,
.App {
  height: 100%;
}

/* custome scrollbar start */

// width
::-webkit-scrollbar {
  width: 5px;
}

// Track
::-webkit-scrollbar-track {
  background: #15202bd9;
}

// Handle
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

// Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* custome scrollbar start */

/* custome antd start */

//dropdown
.ant-dropdown {
  .ant-dropdown-menu {
    background-color: rgb(21, 32, 43);
    border-radius: 6px;
  }
}

//modal
.ant-modal-content {
  background-color: rgb(21, 32, 43);
}

/* custome antd end */
